<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Philips.Analogy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <services>
      <service name="Analogy.LogViewer.WCF.WCFServices.AnalogyReceiverServer" behaviorConfiguration="AnalogyService">
        <endpoint address="http://localhost:2483/AnalogyService" binding="basicHttpBinding" bindingConfiguration="standard" contract="Analogy.LogViewer.WCF.WCFServices.IAnalogyServiceContract" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="standard">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="LargeItemGraph">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="AnalogyService">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint name="AnalogyService_Client" address="http://localhost:2483/AnalogyService" binding="basicHttpBinding" bindingConfiguration="standard" behaviorConfiguration="LargeItemGraph" contract="Analogy.LogViewer.WCF.WCFServices.IAnalogyServiceContract" />
    </client>
  </system.serviceModel>
</configuration>